/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  background-image: url("img/bg.jpg");
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
body > div {
  background-color: #ffffff;
  border: 2px solid #ffd24a;
  border-radius: 2px;
  margin: 10px 100px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
h2, h3, h4 {
  color: #1fabe5;
}
a {
  color: #1fabe5;
}
a:hover {
  color: #046c97;
}

/* Header */
#site_header {
  background-color: #ff8523;
  padding: 20px 20px 40px;
}
#logo {
  margin-bottom: 20px;
}
#logo img {
  padding: 0 0 20px;
}
nav.main_navigation {
}
nav.main_navigation a {
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 30px;
  border-radius: 4px;
  font-weight: bold;
}
#page_content {
  padding: 0 10px 10px;
}
#page_content section {
  border-bottom: 4px solid #eeeeee;
  padding: 10px 0 30px;
  margin: 0 0 10px;
}
#page_content ul {
  font-weight: bold;
}

/* Wrestling the table into submission */
table {
  border-collapse: collapse;
  width: 100%;
}
table, td {
  border: 1px solid #1fabe5;
}
thead, thead td {
  border: 1px solid #046c97;
  background-color: #1fabe5;
  color: white;
}
td {
  padding: 10px;
}
table img {
  width: 100px;
}

/* Input form at the bottom of the page */
form {
  background-color: #eee;
  border-radius: 4px;
  padding: 20px;
}
div.name {
  background-color: #ff8523;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 20px;
}
div.name input {
  padding: 8px;
  margin-right: 10px;
  width: 25%;
}
div.city_container {
  padding-bottom: 20px;
}
#bio {
  border: 1px solid #1fabe5;
  padding: 10px;
  margin: 10px 0 20px;
  display: block;
  width: 96%; /* Strange positioning on the right side */
}
#submit_button {
  padding: 12px;
  background-color: #1fabe5;
  border: 0;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}
